$black: #000;
$pink: #DB284F;
$lightgrey: #d3d3d3;
$mediumgrey: #9b9b9b;
$darkgrey: #7D7D7D;
$white: #fff;
$darkred: #8b0000;
$red: #ff0000;

$small-font: 12px;
$medium-font: 14px;
$large-font: 16px;
$super-font: 20px;

@mixin banner-default {
  width: 970px;
  background-color: $darkgrey;
}

@mixin container-center {
  width: 1140px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

@mixin close-btn($marginTop) {
  &__close {
    color: $white;
    display: flex;
    justify-content: flex-end;
    margin-top: $marginTop;
    cursor: pointer;

    &--x {
      background-color: $darkred;
      padding: 0 5px;
    }

    &--text {
      background-color: $red;
      padding: 0 5px;
    }
  }
}

@mixin rounded-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  z-index: 1;
}