@import "./variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px $lightgrey;

  &__top {
    @include container-center();
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--about {
      display: flex;
      justify-content: space-between;
      width: 60%;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div {
          margin: 20px 0;
        }
      }
    }

    &--download {
      img {
        margin: 10px;
      }
    }
  }

  &__bottom {
    @include container-center();

    &--copyright {
      text-align: start;
    }

    &--social-media {
      display: flex;
      align-items: center;

      img {
        margin: auto 10px;
      }
    }
  }

  &__banner {
    @include banner-default();
    height: 50px;
    margin-bottom: 20px;
    margin-bottom: -20px;
  }

  @include close-btn(-20px);
}