@import "./variables";

.footer {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px $lightgrey;

  &__top {
    @include container-center();
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--about {
      display: flex;
      justify-content: space-between;
      width: 60%;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div {
          margin: 5px 0;
          cursor: pointer;

          &:hover {
            color: $pink;
          }
        }
      }
    }

    &--download {
      div {
        margin-top: 10px;
      }

      img {
        margin: 10px;
      }
    }
  }

  &__bottom {
    @include container-center();
    padding: 0;

    &--copyright {
      text-align: start;
      font-weight: normal;

      p {
        margin: 0 0 10px 0;
      }
    }

    &--social-media {
      display: flex;
      align-items: center;
      margin-right: 50px;

      img {
        margin: auto 10px;
      }
    }
  }

  &__banner {
    @include banner-default();
    height: 50px;
    margin-bottom: 20px;
    margin-bottom: -20px;
  }

  @include close-btn(-20px);
}